{% extends 'common/signup.html' %}
{% load static %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
{% endblock %}

{% block form_name %}
    Workers
{% endblock %}

{% block form_action %}
"/worker/register/"
{% endblock %}

{% block form_info %}
    {{ form.non_field_errors }}
    <div class="form-group">
        <h5>Please select type of your account</h5>
        <label class="custom-control custom-checkbox custom-control-inline">
            <input type="checkbox" class="custom-control-input" name="{{ form.is_reviewer.name }}" {% if form.is_reviewer.value %}checked{% endif %}><span class="custom-control-label">Reviewer</span>
        </label>
        <label class="custom-control custom-checkbox custom-control-inline">
            <input type="checkbox" class="custom-control-input" name="{{ form.is_annotator.name }}" {% if form.is_annotator.value %}checked{% endif %}><span
                class="custom-control-label">Annotator</span>
        </label>
    </div>
    <div class="form-group">
        {{ form.username.errors }}
        <input class="form-control form-control-lg" type="text" name="{{ form.username.name }}" required=""
               placeholder="Username" value="{{ form.username.value }}" autocomplete="off">
    </div>
    <div class="form-group">
        {{ form.first_name.errors }}
        <input class="form-control form-control-lg" type="text" name="{{ form.first_name.name }}" required=""
               placeholder="First name" value="{{ form.first_name.value }}" autocomplete="off">
    </div>
    <div class="form-group">
        {{ form.last_name.errors }}
        <input class="form-control form-control-lg" type="text" name="{{ form.last_name.name }}" required=""
               placeholder="Last name" value="{{ form.last_name.value }}" autocomplete="off">
    </div>
    <div class="form-group">
        {{ form.email.errors }}
        <input class="form-control form-control-lg" type="email" name="{{ form.email.name }}" required=""
               placeholder="E-mail" value="{{ form.email.value }}" autocomplete="off">
    </div>
    <div class="form-group">
        {{ form.affiliation.errors }}
        <input class="form-control form-control-lg" type="text" name="{{ form.affiliation.name }}"
               placeholder="Affiliation: University of XXX" value="{{ form.affiliation.value }}" autocomplete="off">
    </div>
    <div class="form-group">
        {{ form.phone.errors }}
        <input class="form-control form-control-lg" type="text" name="{{ form.phone.name }}" required=""
               placeholder="Phone number: +1-xxx-xxxx-xxxx" value="{{ form.phone.value }}" autocomplete="off">
    </div>
    <div class="form-group">
        {{ form.sex.errors }}
        <select class="form-control" name="{{ form.sex.name }}">
            {% for x,y in form.fields.sex.choices %}
                <option value="{{ x }}" {% if x == 3 %}selected{% endif %}>Sex: {{ y }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        {{ form.country.errors }}
        <select class="form-control" name="{{ form.country.name }}">
            {% for x,y in form.fields.country.choices %}
                <option value="{{ x }}" {% if y == 'United States of America' %}selected{% endif %}>{{ y }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        {{ form.location.errors }}
        <input class="form-control form-control-lg" type="text" name="{{ form.location.name }}"
               placeholder="Location: Pennsylvania" value="{{ form.location.value }}" autocomplete="off">
    </div>
    <div class="form-group">
        {{ form.job_name.errors }}
        <select class="form-control" name="{{ form.job_name.name }}">
            {% for x,y in form.fields.job_name.choices %}
                <option value="{{ x }}" {% if y == "Education" %}selected{% endif %}>{{ y }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        {{ form.birthday.errors }}
        <input class="form-control form-control-lg datepicker" type="text" name="{{ form.birthday.name }}"
               placeholder="Your birthday" value="{{ form.birthday.value }}" autocomplete="off">
    </div>
    <div class="form-group">
        <input class="form-control form-control-lg" id="pass1" name="{{ form.password1.name }}" type="password" required="" placeholder="Password">
    </div>
    <div class="form-group">
        <input class="form-control form-control-lg" name="{{ form.password2.name }}" required="" type="password" placeholder="Confirm">
    </div>
{% endblock %}

{% block custom_js %}
    <script src='{% static "js/jquery-ui.min.js" %}'></script>
    <script>
        $(function () {
            $(".datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: '1945:2000'
            });
        });
    </script>
{% endblock %}