{% extends 'employer/index.html' %}
{% load static %}

{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
{% endblock %}

{% block body_content %}
    {% if error %}
        {{ error }}
    {% else %}
        {% if form %}
            <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-group">
                <button type="submit">Add</button>
            </div>
        {% elif status %}
            The topic is saved!
        {% endif %}
    </form>
    {% endif %}
{% endblock %}

{% block custom_js %}
    <script src='{% static "js/jquery-ui.min.js" %}'></script>
    <script>
        $(function () {
            $(".datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: '1945:2000'
            });
        });
    </script>
{% endblock %}