django>=2.1.5
git+https://github.com/mental689/django-survey.git
Cython
django-tinymce4-lite
django-countries
django-comments-xtd # for comments
cleanerversion # for versioning
django-avatar # for user avatar
pinax-notifications # for notifications, annotators will be notified when owners invited them to a job.
pinax-templates
opencv-contrib-python
ffmpy

# For modeling
numpy==1.15.4
cupy # for PWC-NET
torch==0.3.1
torchvision
Pillow
h5py
