django>=2.1.5
git+https://github.com/mental689/django-survey.git#egg=django_survey_and_report
Cython
django-tinymce4-lite
django-countries
django-comments-xtd # for comments
cleanerversion # for versioning
django-avatar # for user avatar
pinax-notifications # for notifications, annotators will be notified when owners invited them to a job.
pinax-templates
opencv-contrib-python
ffmpy
munkres
Pillow
youtube-dl