{% extends 'employer/index.html' %}
{% load static %}
{% load i18n %}

{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.7/css/select.dataTables.min.css">
{% endblock %}

{% block page_header %}
    {{ group.title }}
{% endblock %}

{% block body_content %}
    {% if not error %}
        <div class="card">
            <h5 class="card-header">Available jobs</h5>
            <h6 class="card-header">
                <ul>
                    <li>Click <i class="m-r-10 mdi mdi-account-multiple-plus"></i>to notify annotators that your jobs
                        need workers.
                        Only people who did not submit any solutions will be notified.
                    </li>
                    <li>
                        Click <i class="m-r-10 mdi mdi-account-edit"></i> to go to the list of available reviewers.
                    </li>
                    {% if user.is_employer or user.is_reviewer %}
                        <li>
                            Click <i class="fa fa-people-carry"></i> to go to the review page.
                        </li>
                    {% endif %}
                    <li>
                        <b>P:</b> Price, <b>PB</b>: Per-object bonus, <b>CB:</b> Completion bonus, <b>T</b>: Number of
                        tracks annotators drawn in the video,
                        <b>A:</b> Number of the annotators who are working in the video, <b>R:</b> Number of reviewers
                        who are working in the video.
                    </li>
                </ul>
            </h6>
            {% if user.is_employer %}
                <div class="card-body">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend be-addon">
                            <button tabindex="-1" type="button" class="btn btn-secondary">Select an action</button>
                            <button tabindex="-1" data-toggle="dropdown" type="button"
                                    class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                                    aria-expanded="false"><span class="sr-only">Toggle Dropdown</span></button>
                            <div class="dropdown-menu" x-placement="bottom-start"
                                 style="position: absolute; transform: translate3d(99px, 41px, 0px); top: 0px; left: 0px; will-change: transform;">
                                <a href="javascript:void(0);" class="dropdown-item" onclick="move_group();">Move
                                    selected
                                    jobs to another
                                    group</a>
                                {#                            <a href="#" class="dropdown-item">Assign reviewers to selected jobs</a>#}
                                {#                            <div class="dropdown-divider"></div>#}
                                {#                            <a href="#" class="dropdown-item text-danger">Delete selected jobs</a>#}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="card-body">
                {#            <div class="row">#}
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered first" id="vatics">
                            <thead>
                            <tr>
                                {% if user.is_employer %}
                                    <th></th>
                                {% endif %}
                                <th>ID</th>
                                <th>Link</th>
                                <th>Created at</th>
                                <th>P</th>
                                <th>PB</th>
                                <th>CB</th>
                                <th>T</th>
                                <th>A</th>
                                <th>R</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for job in jobs %}
                                <tr>
                                    {% if user.is_employer %}
                                        <td></td>
                                    {% endif %}
                                    <td>{{ job.id }}</td>
                                    <td><a href="{{ job.get_absolute_url }}"
                                           target="_blank">{{ job.get_absolute_url }}</a>
                                    </td>
                                    <td>{{ job.created_at }}</td>
                                    <td>
                                        {{ group.cost }}
                                    </td>
                                    <td>{{ job.segment.video.perobjectbonus }}</td>
                                    <td>{{ job.segment.video.completionbonus }}</td>
                                    <td>{{ job.num_paths }}</td>
                                    <td>{% if not user.is_employer %}{{ job.solutions.count }}{% else %}
                                        {% for s in job.solutions.all %}
                                            {{ s.submitter.user.username }}
                                        {% endfor %}
                                    {% endif %}</td>
                                    <td>{{ job.assignments.count }}</td>
                                    {% if user.is_employer and not job.completed %}
                                        <td><a href="javascript:void(0);" onclick="invite({{ job.id }});"
                                               id="invite_btn_{{ job.id }}">
                                            <i class="m-r-10 mdi mdi-account-multiple-plus"></i></a>
                                            <a href="/vatic/invite/?id={{ job.id }}" target="_blank"><i
                                                    class="m-r-10 mdi mdi-account-edit"></i></a>
                                            {% if user.is_employer or user.is_reviewer %}
                                                <a href="/vatic/review/?id={{ job.id }}" target="_blank"><i
                                                        class="fa fa-people-carry"></i></a>
                                            {% endif %}
                                        </td>
                                    {% elif not user.is_employer %}
                                        <td><p class="text-primary">None</p></td>
                                    {% else %}
                                        <td><p class="text-success">Completed</p></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {#            </div>#}
        </div>
    {% else %}
        <div class="alert alert-danger" role="alert">
            You cannot access this page due to {{ error }}.
        </div>
    {% endif %}
{% endblock %}

{% block custom_js %}
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>
    <script>
        var vatic = null;
        var selected_idx = {};
        $(document).ready(function () {
            vatic = $('#vatics').DataTable({
                {% if user.is_employer %}
                    columnDefs: [{
                        orderable: false,
                        className: 'select-checkbox',
                        targets: 0
                    }],
                    select: {
                        style: 'multi',
                        selector: 'td:first-child'
                    },
                {% endif %}
                order: [[1, 'asc']]
            });
            {% if user.is_employer %}
                vatic
                    .on('select', function (e, dt, type, indexes) {
                        var rowData = vatic.rows(indexes).data().toArray();
                        console.log('Selected ' + rowData[0][1]);
                        selected_idx[rowData[0][1]] = true;
                        console.log(selected_idx);
                    })
                    .on('deselect', function (e, dt, type, indexes) {
                        var rowData = vatic.rows(indexes).data().toArray();
                        console.log('Deselected ' + rowData[0][1]);
                        selected_idx[rowData[0][1]] = false;
                        console.log(selected_idx);
                    });
            {% endif %}
        });
        {% if user.is_employer %}
            function move_group() {
                let selected_list = Array();
                for (i in selected_idx) {
                    if (selected_idx[i]) {
                        selected_list.push(i);
                    }
                }
                if (selected_list.length == 0) {
                    alert('You must select at least one item to move.');
                } else {
                    window.location.replace("/vatic/group/move/?idx=" + selected_list.join(',') + '&gid={{ group.id }}');
                }
            }

            function invite(job_id) {
                var posting = $.post(
                    '/vatic/invite/',
                    {
                        'id': job_id,
                        'csrfmiddlewaretoken': $.cookie("csrftoken"),
                    }
                );
                posting.done(function (data) {
                    if (data.error) {
                        alert(data.error);
                    } else {
                        $('#invite_btn_' + job_id).prop('disabled', true);
                        if (data.msg) {
                            alert(data.msg);
                        }
                    }
                }).fail(function () {
                    alert('There were server errors.');
                });
            }
        {% endif %}
    </script>
{% endblock %}