{% extends 'employer/index.html' %}
{% load static %}
{% load i18n %}
{% load avatar_tags %}

{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
{% endblock %}

{% block page_header %}
    {{ job.name }}
{% endblock %}

{% block body_content %}
    <div class="simple-card">
        <ul class="nav nav-tabs" id="projectTabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active border-left-0" id="home-tab-simple" data-toggle="tab" href="#home-simple"
                   role="tab" aria-controls="home" aria-selected="true">Overview</a>
            </li>
            {% if job.has_keyword_search or job.has_qbe_search %}
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab-simple" data-toggle="tab" href="#profile-simple" role="tab"
                       aria-controls="profile" aria-selected="false">Search</a>
                </li>
            {% endif %}
            {% if job.has_survey %}
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab-simple" data-toggle="tab" href="#contact-simple" role="tab"
                       aria-controls="contact" aria-selected="false">Survey</a>
                </li>
            {% endif %}
            {% if job.has_vatic %}
                <li class="nav-item">
                    <a class="nav-link" id="vatic-tab-simple" data-toggle="tab" href="#vatic-simple" role="tab"
                       aria-controls="vatic" aria-selected="false">VATIC</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" id="comment-tab-simple" data-toggle="tab"
                   href="#comment-simple"
                   role="tab" aria-controls="comment" aria-selected="false">Comments</a>
            </li>
            {#            <li class="nav-item">#}
            {#                <a class="nav-link" id="publish-tab-simple" data-toggle="tab"#}
            {#                   href="#publish-simple"#}
            {#                   role="tab" aria-controls="comment" aria-selected="false">Publishing</a>#}
            {#            </li>#}
            {% if job.allow_invitation %}
                <li class="nav-item">
                    <a class="nav-link" id="collaboration-tab-simple" data-toggle="tab" href="#collaboration-simple"
                       role="tab"
                       aria-controls="collaboration" aria-selected="false">Collaborators</a>
                </li>
            {% endif %}
        </ul>
        <div class="tab-content" id="myTabContent5">
            <div class="tab-pane fade show active" id="home-simple" role="tabpanel" aria-labelledby="home-tab-simple">
                {% if user.is_employer %}
{#                    <div class="card">#}
                        <h5 class="card-header">Publishing options (for project owners)</h5>
                        <div class="card-body">
                            <form action="/dataset/">
                                <input type="hidden" value="{{ job.id }}" name="id">
                                <div class="form-group">
                                    <label for="inputText3" class="col-form-label">Name</label>
                                    <input id="inputText3" type="text" class="form-control" name="name">
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Description</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                              name="description"></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Publish this dataset" class="btn btn-primary">
                                </div>
                            </form>
                        </div>
{#                    </div>#}
                {% endif %}
            </div>
            {% if job.has_keyword_search or job.has_qbe_search %}
                <div class="tab-pane fade" id="profile-simple" role="tabpanel" aria-labelledby="profile-tab-simple">
                    {% if job.has_keyword_search is True %}
                        {#                        <div class="card">#}
                        <h5 class="card-header">Keyword search tasks</h5>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="card">
                                        <h5 class="card-header">Searches by day (1 month) </h5>
                                        <div class="card-body">
                                            <div id="c3chart_stacked"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="card">
                                        <h5 class="card-header">Keywords (Top 5) </h5>
                                        <div class="card-body">
                                            <div id="c3chart_pie"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered first" id="searches">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Searched at</th>
                                        <th>Worker</th>
                                        <th>Keywords</th>
                                        <th>JSON</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for task in tasks.ks %}
                                        <tr>
                                            <td>{{ task.id }}</td>
                                            <td>{{ task.created_at }}</td>
                                            <td>{{ task.worker.get_full_name }}</td>
                                            <td>{{ task.keyword }}</td>
                                            <td><a href="/search/ks/outcome/?id={{ task.id }}">JSON</a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {#                        </div>#}
                    {% endif %}

                    {% if job.has_qbe_search is True %}
                        {#                        <div class="card">#}
                        <h5 class="card-header">QBE search tasks</h5>
                        <div class="card-body"></div>
                        {#                        </div>#}
                    {% endif %}
                </div>
            {% endif %}
            {% if job.has_survey %}
                <div class="tab-pane fade" id="contact-simple" role="tabpanel" aria-labelledby="contact-tab-simple">
                    {% if job.has_survey is True %}
                        {#                        <div class="card">#}
                        <h5 class="card-header">Survey tasks</h5>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="card">
                                        <h5 class="card-header">Answers by day (1 month) </h5>
                                        <div class="card-body">
                                            <div id="c3chart_answers"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="card">
                                        <h5 class="card-header">Participants (Top 5) </h5>
                                        <div class="card-body">
                                            <div id="c3chart_participants"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered first" id="surveys">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Survey</th>
                                        <th>Created at</th>
                                        <th>Questions</th>
                                        <th>Answers</th>
                                        <th>Videos</th>
                                        <th>Credit</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for task in tasks.survey %}
                                        <tr>
                                            <td>{{ task.id }}</td>
                                            <td>
                                                <a href="/survey/detail/?id={{ task.id }}">{{ task.survey.name }}</a>
                                            </td>
                                            <td>{{ task.created_at }}</td>
                                            <td>{{ task.survey.questions.all|length }}</td>
                                            <td>{{ task.survey.responses.all|length }}</td>
                                            <td>{{ task.parent.videos.all|length }}</td>
                                            <td>{{ task.credit }}</td>
                                            <td>
                                                <a href="/survey/edit/?id={{ task.id }}"><i class="fa fa-edit"></i></a>
                                                <a href="/survey/delete/?id={{ task.id }}"><i class="fa fa-cut"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {#                <div class="row">#}
                            {#                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">#}
                            {#                        <div class="card-body">#}
                            <a href="/survey/add/?projectId={{ job.id }}" class="btn btn-success"><i
                                    class="fa fa-plus-circle"></i> Add a
                                survey</a>
                            {#                        </div>#}
                            {#                    </div>#}
                            {#                </div>#}
                        </div>
                        {#                        </div>#}
                    {% endif %}
                </div>
            {% endif %}
            {% if job.has_vatic %}
                <div class="tab-pane fade" id="vatic-simple" role="tabpanel" aria-labelledby="vatic-tab-simple">
                    {% if job.has_vatic is True %}
                        {#                        <div class="card">#}
                        <h5 class="card-header">Space-time annotation tasks</h5>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="card">
                                        <h5 class="card-header">VATIC Solutions by day (1 month) </h5>
                                        <div class="card-body">
                                            <div id="c3chart_solutions"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="card">
                                        <h5 class="card-header">VATIC Paths by day (1 month) </h5>
                                        <div class="card-body">
                                            <div id="c3chart_paths"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="card">
                                        <h5 class="card-header">VATIC Boxes by day (1 month) </h5>
                                        <div class="card-body">
                                            <div id="c3chart_boxes"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="card">
                                        <h5 class="card-header">Top participants by solutions </h5>
                                        <div class="card-body">
                                            <div id="c3pie_solutions"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="card">
                                        <h5 class="card-header">Top participants by paths </h5>
                                        <div class="card-body">
                                            <div id="c3pie_paths"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="card">
                                        <h5 class="card-header">Top participants by boxes </h5>
                                        <div class="card-body">
                                            <div id="c3pie_boxes"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered first" id="vatics">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Group</th>
                                        <th>Created at</th>
                                        <th>Price</th>
                                        <th>Jobs</th>
                                        <th>Solutions</th>
                                        {#                            <th>Paths</th>#}
                                        {#                            <th>Boxes</th>#}
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for task in tasks.vatics %}
                                        <tr>
                                            <td>{{ task.id }}</td>
                                            <td><a href="/vatic/group/detail/?id={{ task.id }}">{{ task.title }}</a>
                                            </td>
                                            <td>{{ task.created_at }}</td>
                                            <td>{{ task.cost }}</td>
                                            <td>{{ task.jobs.count }}</td>
                                            <td>{{ task.num_solutions }}</td>
                                            {#                                <td>{{ task.num_tracks }}</td>#}
                                            {#                                <td>{{ task.num_boxes }}</td>#}
                                            <td>
                                                <a href="/survey/edit/?id={{ task.id }}"><i class="fa fa-edit"></i></a>
                                                <a href="/survey/delete/?id={{ task.id }}"><i class="fa fa-cut"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <a href="/vatic/group/add/" class="btn btn-success"><i
                                    class="fa fa-plus-circle"></i> Add a
                                job group</a>
                        </div>
                        {#                        </div>#}
                    {% endif %}
                </div>
            {% endif %}
            <div class="tab-pane fade" id="comment-simple" role="tabpanel"
                 aria-labelledby="comment-tab-simple">
                {#                <div class="card">#}
                <h5 class="card-header">Interactions between participants (reviewers/annotators) in your
                    platform</h5>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered first" id="comments">
                            <thead class="bg-light">
                            <tr class="border-0">
                                <th class="border-0">#</th>
                                <th class="border-0">User</th>
                                <th class="border-0">Work type</th>
                                <th class="border-0">Submitted at</th>
                                <th class="border-0">Comment</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for comment in tasks.comments %}
                                <tr>
                                    <td>
                                        <a href="{{ comment.get_content_object_url }}"
                                           target="_blank">{{ comment.id }}</a>
                                    </td>
                                    <td>{{ comment.user.get_full_name }}</td>
                                    <td>{{ comment.content_type.app_label }}-{{ comment.content_type }}</td>
                                    <td>{{ comment.submit_date }}</td>
                                    <td>{{ comment.comment }}</td>
                                    {#                                <td><span class="badge-dot badge-brand mr-1"></span>InTransit</td>#}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {#                </div>#}
            </div>
            {#            <div class="tab-pane fade" id="publish-simple" role="tabpanel"#}
            {#                 aria-labelledby="publish-tab-simple">#}
            {#            </div>#}
            {% if job.allow_invitation %}
                <div class="tab-pane fade" id="collaboration-simple" role="tabpanel"
                     aria-labelledby="collaboration-tab-simple">
                    <h5 class="card-header">You can invite the following owners to join your project</h5>
                    <div class="card-body">
                        <div class="row">
                            {% for po in tasks.pyano_owners %}
                                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12" id="po_{{ po.id }}">
                                    <!-- .card -->
                                    <div class="card card-figure has-hoverable">
                                        <!-- .card-figure -->
                                        <figure class="figure">
                                            <img class="img-fluid" src="{% avatar_url po.user 80 %}" width="80"
                                                 alt="{{ po.user.get_full_name }}">
                                            <div class="figure-action">
                                                <a href="javascript:void(0);" class="btn btn-block btn-sm btn-primary" onclick="add_collaborator({{ job.id }}, {{ po.user.id }});">Add {{ po.user.get_full_name }}</a>
                                            </div>
                                            <!-- .figure-caption -->
                                            <figcaption class="figure-caption">
                                                <h6 class="figure-title"> {{ po.user.get_full_name }}</h6>
                                                <p class="text-muted mb-0">
                                                    He has {{ po.num_projects }} projects.
                                                    {% if po.topics.count > 0 %}Interests:
                                                        <ul>
                                                            {% for t in po.topics.all %}
                                                                <li>{{ t.name }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}
                                                </p>
                                            </figcaption>
                                            <!-- /.figure-caption -->
                                        </figure>
                                        <!-- /.card-figure -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <h5 class="card-header">Current collaborators of this project</h5>
                    <div class="card-body">
                        <div class="row">
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <!-- .card -->
                                    <div class="card card-figure has-hoverable">
                                        <!-- .card-figure -->
                                        <figure class="figure">
                                            <img class="img-fluid" src="{% avatar_url owner.user 80 %}" width="80"
                                                 alt="{{ owner.user.get_full_name }}">
                                            <!-- .figure-caption -->
                                            <figcaption class="figure-caption">
                                                <h6 class="figure-title"> You</h6>
                                                <p class="text-muted mb-0">
                                                    You have {{ owner.num_projects }} projects.
                                                    {% if owner.user.topics.count > 0 %}Interests:
                                                        <ul>
                                                            {% for t in owner.user.topics.all %}
                                                                <li>{{ t.name }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}
                                                </p>
                                            </figcaption>
                                            <!-- /.figure-caption -->
                                        </figure>
                                        <!-- /.card-figure -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                            {% for c in tasks.collaborators %}
                                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                                    <!-- .card -->
                                    <div class="card card-figure has-hoverable">
                                        <!-- .card-figure -->
                                        <figure class="figure">
                                            <img class="img-fluid" src="{% avatar_url c.owner.user 80 %}" width="80"
                                                 alt="{{ c.owner.user.get_full_name }}">
                                            <!-- .figure-caption -->
                                            <figcaption class="figure-caption">
                                                <h6 class="figure-title"> {{ c.owner.user.get_full_name }}</h6>
                                                <p class="text-muted mb-0">
                                                    {% if c.owner.topics.count > 0 %}Interests:
                                                        <ul>
                                                            {% for t in c.owner.topics.all %}
                                                                <li>{{ t.name }}</li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}
                                                </p>
                                            </figcaption>
                                            <!-- /.figure-caption -->
                                        </figure>
                                        <!-- /.card-figure -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block custom_js %}
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script>
        function getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        function add_collaborator(pid, cid) {
            var posting = $.post(
                '/collaborator/add/',
                {
                    'cid': cid,
                    'pid': pid,
                    'csrfmiddlewaretoken': $.cookie("csrftoken"),
                }
            );
            posting.done(function (data) {
                if (data.error) {
                    alert(data.error);
                }
                window.location.reload();
            }).fail(function () {
                alert('Cannot connect to server. Please try again later.')
            })
        }

        $(document).ready(function () {
            $('#searches').DataTable();
            $('#surveys').DataTable();
            $('#vatics').DataTable();
            $('#comments').DataTable({
                "autoWidth": false,
                "lengthChange": false,
                "pageLength": 5
            });

            var charts = Array();

            if ($('#c3chart_stacked').length) {
                var chart = c3.generate({
                    bindto: "#c3chart_stacked",

                    data: {
                        x: 'x',
                        columns: [
                            ['x', {% for k in tasks.ks_by_date %}'{{ k.day }}', {% endfor %}],
                            ['searches', {% for k in tasks.ks_by_date %}{{ k.c }}, {% endfor %}],
                            {#['data1', 130, 200, 320, 400, 530, 750],#}
                            {#['data2', -130, 10, 130, 200, 150, 250],#}
                            {#['data3', -130, -50, -10, -200, -250, -150]#}
                        ],
                        type: 'bar',
                        groups: [
                            ['searches',]
                        ],
                        order: 'desc', // stack order by sum of values descendantly. this is default.
                        //      order: 'asc'  // stack order by sum of values ascendantly.
                        //      order: null   // stack order by data definition.

                        colors: {
                            {#data1: '#5969ff',#}
                            {#data2: '#ff407b',#}
                            {#data3: '#64ced3'#}
                            'searches': '#5969ff',
                        }
                    },
                    axis: {
                        y: {
                            show: true,
                        },
                        x: {
                            show: true,
                            type: 'timeseries',
                            tick: {
                                format: '%Y-%m-%d',
                                rotate: 60
                            }
                        }
                    },
                    grid: {
                        y: {
                            lines: [{value: 0}]
                        }
                    }
                });
                charts.push(chart);
            }
            if ($('#c3chart_pie').length) {
                var chart = c3.generate({
                    bindto: "#c3chart_pie",
                    data: {
                        columns: [
                            {% for k in tasks.ks_by_keywords %}
                                ['{{ k.keyword }}', {{ k.c }}],
                            {% endfor %}
                            {#['data1', 30],#}
                            {#['data2', 50]#}
                        ],
                        type: 'pie',

                        colors: {
                            {#data1: '#5969ff',#}
                            {#data2: '#ff407b'#}
                            {% for k in tasks.ks_by_keywords %}
                                '{{ k.day }}': getRandomColor(),
                            {% endfor %}

                        },
                    },
                    pie: {
                        label: {
                            format: function (value, ratio, id) {
                                return d3.format('')(value);
                            }
                        }
                    }
                });
                charts.push(chart);
            }

            if ($('#c3chart_answers').length) {
                var chart = c3.generate({
                    bindto: "#c3chart_answers",

                    data: {
                        x: 'x',
                        columns: [
                            ['x', {% for k in tasks.answers_by_date.0.data %}'{{ k.day }}', {% endfor %}],
                            {% for data in tasks.answers_by_date %}
                                ['Survey {{ data.id }}', {% for k in data.data %}{{ k.c }}, {% endfor %}],
                            {% endfor %}
                            {#['data1', 130, 200, 320, 400, 530, 750],#}
                            {#['data2', -130, 10, 130, 200, 150, 250],#}
                            {#['data3', -130, -50, -10, -200, -250, -150]#}
                        ],
                        type: 'bar',
                        groups: [
                            [{% for data in tasks.answers_by_date %}'Survey {{ data.id }}',{% endfor %}]
                        ],
                        order: 'desc', // stack order by sum of values descendantly. this is default.
                        //      order: 'asc'  // stack order by sum of values ascendantly.
                        //      order: null   // stack order by data definition.

                        colors: {
                            {#data1: '#5969ff',#}
                            {#data2: '#ff407b',#}
                            {#data3: '#64ced3'#}
                            {% for data in tasks.answers_by_date %}
                                'Survey {{ data.id }}': getRandomColor(),
                            {% endfor %}
                        }
                    },
                    axis: {
                        y: {
                            show: true,
                        },
                        x: {
                            show: true,
                            type: 'timeseries',
                            tick: {
                                format: '%Y-%m-%d',
                                rotate: 60
                            }
                        }
                    },
                    grid: {
                        y: {
                            lines: [{value: 0}]
                        }
                    }
                });
                charts.push(chart);
            }

            if ($('#c3chart_participants').length) {
                var chart = c3.generate({
                    bindto: "#c3chart_participants",
                    data: {
                        columns: [
                            {% for k in tasks.users_surveys %}
                                ['Annotator {{ k.id }}', {{ k.c }}],
                            {% endfor %}
                            {#['data1', 30],#}
                            {#['data2', 50]#}
                        ],
                        type: 'pie',

                        colors: {
                            {#data1: '#5969ff',#}
                            {#data2: '#ff407b'#}
                            {% for k in tasks.users_surveys %}
                                'Annotator {{ k.id }}': getRandomColor(),
                            {% endfor %}

                        }
                    },
                    pie: {
                        label: {
                            format: function (value, ratio, id) {
                                return d3.format('')(value);
                            }
                        }
                    }
                });
                charts.push(chart);
            }

            if ($('#c3pie_solutions').length) {
                var chart = c3.generate({
                    bindto: "#c3pie_solutions",
                    data: {
                        columns: [
                            {% for k in tasks.vatics_users %}
                                ['Annotator {{ k.user__id }}', {{ k.c }}],
                            {% endfor %}
                            {#['data1', 30],#}
                            {#['data2', 50]#}
                        ],
                        type: 'pie',

                        colors: {
                            {#data1: '#5969ff',#}
                            {#data2: '#ff407b'#}
                            {% for k in tasks.vatics_users %}
                                'Annotator {{ k.user__id }}': getRandomColor(),
                            {% endfor %}

                        }
                    },
                    pie: {
                        label: {
                            format: function (value, ratio, id) {
                                return d3.format('')(value);
                            }
                        }
                    }
                });
                charts.push(chart);
            }

            if ($('#c3pie_paths').length) {
                chart = c3.generate({
                    bindto: "#c3pie_paths",
                    data: {
                        columns: [
                            {% for k in tasks.vatics_users_paths %}
                                ['Annotator {{ k.user__id }}', {{ k.c }}],
                            {% endfor %}
                            {#['data1', 30],#}
                            {#['data2', 50]#}
                        ],
                        type: 'pie',

                        colors: {
                            {#data1: '#5969ff',#}
                            {#data2: '#ff407b'#}
                            {% for k in tasks.vatics_users_paths %}
                                'Annotator {{ k.user__id }}': getRandomColor(),
                            {% endfor %}

                        }
                    },
                    pie: {
                        label: {
                            format: function (value, ratio, id) {
                                return d3.format('')(value);
                            }
                        }
                    }
                });
                charts.push(chart);
            }

            if ($('#c3pie_boxes').length) {
                chart = c3.generate({
                    bindto: "#c3pie_boxes",
                    data: {
                        columns: [
                            {% for k in tasks.vatics_users_boxes %}
                                ['Annotator {{ k.user__id }}', {{ k.c }}],
                            {% endfor %}
                            {#['data1', 30],#}
                            {#['data2', 50]#}
                        ],
                        type: 'pie',

                        colors: {
                            {#data1: '#5969ff',#}
                            {#data2: '#ff407b'#}
                            {% for k in tasks.vatics_users_boxes %}
                                'Annotator {{ k.user__id }}': getRandomColor(),
                            {% endfor %}

                        }
                    },
                    pie: {
                        label: {
                            format: function (value, ratio, id) {
                                return d3.format('')(value);
                            }
                        }
                    }
                });
                charts.push(chart);
            }

            var vatic_colors = {
                {% for data in tasks.vatic_solution_by_date %}'{{ data.title }}': getRandomColor(),{% endfor %}
            };

            if ($('#c3chart_solutions').length) {
                chart = c3.generate({
                    bindto: "#c3chart_solutions",

                    data: {
                        x: 'x',
                        columns: [
                            ['x', {% for k in tasks.vatic_solution_by_date.0.data %}'{{ k.day }}', {% endfor %}],
                            {% for data in tasks.vatic_solution_by_date %}
                                ['{{ data.id }}', {% for k in data.data %}{{ k.c }}, {% endfor %}],
                            {% endfor %}
                            {#['data1', 130, 200, 320, 400, 530, 750],#}
                            {#['data2', -130, 10, 130, 200, 150, 250],#}
                            {#['data3', -130, -50, -10, -200, -250, -150]#}
                        ],
                        type: 'bar',
                        groups: [
                            [{% for data in tasks.vatic_solution_by_date %}
                                '{{ data.id }}',
                            {% endfor %}]
                        ],
                        order: 'desc', // stack order by sum of values descendantly. this is default.
                        //      order: 'asc'  // stack order by sum of values ascendantly.
                        //      order: null   // stack order by data definition.

                        colors: {
                            {% for data in tasks.vatic_solution_by_date %}
                                '{{ data.id }}': vatic_colors['{{ data.title }}'],
                            {% endfor %}
                        }
                    },
                    axis: {
                        y: {
                            show: true,
                        },
                        x: {
                            show: true,
                            type: 'timeseries',
                            tick: {
                                format: '%Y-%m-%d',
                                rotate: 60
                            }
                        }
                    },
                    grid: {
                        y: {
                            lines: [{value: 0}]
                        }
                    }
                });
                charts.push(chart);
            }

            if ($('#c3chart_paths').length) {
                chart = c3.generate({
                    bindto: "#c3chart_paths",

                    data: {
                        x: 'x',
                        columns: [
                            ['x', {% for k in tasks.vatic_path_by_date.0.data %}'{{ k.day }}', {% endfor %}],
                            {% for data in tasks.vatic_path_by_date %}
                                ['{{ data.id }}', {% for k in data.data %}{{ k.c }}, {% endfor %}],
                            {% endfor %}
                            {#['data1', 130, 200, 320, 400, 530, 750],#}
                            {#['data2', -130, 10, 130, 200, 150, 250],#}
                            {#['data3', -130, -50, -10, -200, -250, -150]#}
                        ],
                        type: 'bar',
                        groups: [
                            [{% for data in tasks.vatic_path_by_date %}
                                '{{ data.id }}',
                            {% endfor %}]
                        ],
                        order: 'desc', // stack order by sum of values descendantly. this is default.
                        //      order: 'asc'  // stack order by sum of values ascendantly.
                        //      order: null   // stack order by data definition.

                        colors: {
                            {% for data in tasks.vatic_path_by_date %}
                                '{{ data.id }}': vatic_colors['{{ data.title }}'],
                            {% endfor %}
                        }
                    },
                    axis: {
                        y: {
                            show: true,
                        },
                        x: {
                            show: true,
                            type: 'timeseries',
                            tick: {
                                format: '%Y-%m-%d',
                                rotate: 60
                            }
                        }
                    },
                    grid: {
                        y: {
                            lines: [{value: 0}]
                        }
                    }
                });
                charts.push(chart);
            }

            if ($('#c3chart_boxes').length) {
                chart = c3.generate({
                    bindto: "#c3chart_boxes",

                    data: {
                        x: 'x',
                        columns: [
                            ['x', {% for k in tasks.vatic_box_by_date.0.data %}'{{ k.day }}', {% endfor %}],
                            {% for data in tasks.vatic_box_by_date %}
                                ['{{ data.id }}', {% for k in data.data %}{{ k.c }}, {% endfor %}],
                            {% endfor %}
                            {#['data1', 130, 200, 320, 400, 530, 750],#}
                            {#['data2', -130, 10, 130, 200, 150, 250],#}
                            {#['data3', -130, -50, -10, -200, -250, -150]#}
                        ],
                        type: 'bar',
                        groups: [
                            [{% for data in tasks.vatic_box_by_date %}
                                '{{ data.id }}',
                            {% endfor %}]
                        ],
                        order: 'desc', // stack order by sum of values descendantly. this is default.
                        //      order: 'asc'  // stack order by sum of values ascendantly.
                        //      order: null   // stack order by data definition.

                        colors: {
                            {% for data in tasks.vatic_box_by_date %}
                                '{{ data.id }}': vatic_colors['{{ data.title }}'],
                            {% endfor %}
                        }
                    },
                    axis: {
                        y: {
                            show: true,
                        },
                        x: {
                            show: true,
                            type: 'timeseries',
                            tick: {
                                format: '%Y-%m-%d',
                                rotate: 60
                            }
                        }
                    },
                    grid: {
                        y: {
                            lines: [{value: 0}]
                        }
                    }
                });
                charts.push(chart);
            }

            $('a[data-toggle=tab]').on('shown.bs.tab', function () {
                for (var i = 0; i < charts.length; ++i) {
                    charts[i].resize();
                }
            });
        });
    </script>
{% endblock %}